<!DOCTYPE html>
<html>
<head>
    <title>back-stage management - beego-blog</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
</head>
<body>
    <div id="screen">
        <div class="ui vertical pointing menu">
            <a class="active item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="mail icon"></i> Messages
            </a>
            <a class="item">
                <i class="user icon"></i> Friends
            </a>
        </div>
    </div>
</body>
</html>