<div class="backmenu mb5 navbar mt10">
    <a href="/me/page">个人主页定制</a>
    <span class="cut-line">|</span>
    <a href="/me/profile">个人信息修改</a>
    <span class="cut-line">,</span>
    <a href="/me/portrait">头像修改</a>
    <span class="cut-line">,</span>
    <a href="/me/pwd">密码修改</a>
    <span class="cut-line">|</span>
    <a href="/me/blog/catalog">分类管理</a>
    <span class="cut-line">,</span>
    <a href="/me/blog/draft">草稿箱</a>
    <span class="cut-line">,</span>
    <a href="/me/blog/history">发表过的博文</a>
    <span class="cut-line">,</span>
    <a href="/me/blog/post">发表博文</a>
</div>