<style type="text/css">
#header{padding-right:8px;}
</style>

<div id="collections">
    <div class="section container">
        {{range .Catalogs}}
        <div class="collection-card" itemscope="" itemtype="http://schema.org/CollectionPage">
            <a href="/catalog/{{.Ident}}"><img class="cover" src="{{.ImgUrl}}" alt="{{.Name}}"></a>
            <div class="card-info">
                <a href="/catalog/{{.Ident}}"><h3 class="collection-name">{{.Name}}</h3></a>

                <p class="description">
                    {{.Resume}}
                    {{if $.IsAdmin}}
                    <a href="/me/catalog/edit?id={{.Id}}">(Edit)</a>
                    {{end}}
                </p>
            </div>
            
        </div>
        {{end}}
    </div>
</div>
